<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Precios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='!FLAG'>


    <ion-card>
      <div class="vertical-crop">
        <ion-img class="imagen-boton" [src]='getImageUrl(data.productos[0].Imagen)'></ion-img>
      </div>
      <div class="myOverlay"> Variedades</div>
    </ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1" *ngIf="noHayFavoritos()">

            <ion-label>
              No tiene favoritos
            </ion-label>
            <ion-button expand="full" color="tertiary" class="final" shape="round"
              [routerLink]="['/productos/lista/todos']" routerDirection="forward">Agregar favoritos!</ion-button>
          </ion-col>
          <ion-col *ngIf="!noHayFavoritos()">
            <div *ngFor='let product of data.productos'>

              <ion-item-divider color='tertiary'>
                <ion-label>
                  {{ product.Nombre }}
                </ion-label>
              </ion-item-divider>
              <ion-item class="no-fav" *ngIf='!(getFavoritosProducto(product.Id).length > 0)' text-wrap>
                  <ion-label>
                      No tiene favoritos de {{ product.Nombre }}
                      <br>
                    <a color="tertiary" [routerLink]="['/productos/lista/todos/',product.Id]" 
            routerDirection="forward">Agregar favoritos!</a>
                    </ion-label>
                    
              </ion-item>

              <div *ngFor='let vari of getFavoritosProducto(product.Id)'>
                
                  <ion-item-divider color='medium' (click)='getAsyncPrecios(vari.data.Id)'>
                    <ion-label> &nbsp;&nbsp;&nbsp;&nbsp; {{ vari.data.Nombre }} </ion-label>
                  </ion-item-divider>
                  <div *ngIf='estaSeleccionado(vari.data.Id)'>
                    <ion-item *ngFor="let map of getMapper()">
                      <ion-label color="tertiary" class="title">
                        {{ map.nombre }}
                      </ion-label>
                      <ion-note slot="end" class="tag">
                        {{ map.prefijo }}
                        {{ map.json === 'Fecha' ? (data_precios.precios[0][map.json] | date: 'longDate') : (data_precios.precios[0][map.json]) }}
                      </ion-note>
                    </ion-item>
                    <ion-item color='primary' (click)="verDetalles(vari.data.Id)">
                      <ion-label>Ver más... </ion-label>
                    </ion-item>

                  </div>

                </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>


  </ion-list>
</ion-content>