ion-text {
    font-size: 12px;
}

.add-var {
    font-size: 12px !important;
    margin-left: 20px;
}

.myOverlay{
    width: 100%;
    height: 25px;
    position: absolute;
    text-align: end;
    z-index: 99;
    bottom: 0px;
    opacity: 0.7;
    background: #25312F;
    color: #FAEAC9;
    font-weight: normal;
    font-size: 16px;
}

.vertical-crop { 
    max-height: 105px !important; 
    overflow: hidden;
    margin-top: -20px !important; 
}
.vertical-crop img { max-height: initial; /* Maybe optional. See note below */ }

.no-fav {
    margin-top: 5px;
    margin-bottom: 10px;
}