<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Productos Favoritos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='!FLAG'>


    <ion-card>
      <div class="vertical-crop">
        <ion-img class="imagen-boton" [src]='getImageUrl(data.productos[0].Imagen)'></ion-img>
      </div>
      <div class="myOverlay"> Variedades</div>
    </ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1" *ngIf="noHayFavoritos()">

            <ion-label>
              No tiene favoritos
            </ion-label>

            <ion-button expand="full" color="tertiary" class="final" shape="round" [routerLink]="['/productos/lista/todos']" 
            routerDirection="forward">Agregar favoritos!</ion-button>


          </ion-col>
          <ion-col *ngIf="!noHayFavoritos()">

            <div *ngFor='let product of data.productos'>

              <ion-item-divider color='tertiary'>
                <ion-label>
                  {{ product.Nombre }}
                </ion-label>
              </ion-item-divider>
              <div class="no-fav" *ngIf='!(getFavoritosProducto(product.Id).length > 0)'>
                  <ion-label>
                      No tiene favoritos de {{ product.Nombre }}
                    </ion-label>
                    <br>
                    <a color="tertiary" [routerLink]="['/productos/lista/todos/',product.Id]" 
            routerDirection="forward">Agregar favoritos!</a>
              </div>
              <div *ngFor='let vari of getFavoritosProducto(product.Id)'>

                <ion-item-divider color='medium'>
                  <ion-label> {{ vari.data.Nombre }} </ion-label>
                </ion-item-divider>
                <ion-item text-wrap>
                  <ion-text>
                    {{ vari.data.Caracteristicas }}
                  </ion-text>
                </ion-item>
                <ion-item (click)='removeFavoritos(vari.data.Id)'>
                  <ion-icon name="heart-empty" color="dark">
                  </ion-icon>
                  <ion-label class="add-var" color="tertiary">Eliminar de favoritos</ion-label>
                </ion-item>

              </div>


            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>


  </ion-list>
</ion-content>