<ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="actual">
        <ion-icon name="partly-sunny"></ion-icon>
        <ion-label>Clima Actual</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="historico">
          <ion-icon name="time"></ion-icon>
          <ion-label>Clima histórico</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>