// ion background
ion-content {
    --background: #FAEAC9;
}

// logo

.icon {
    font-size: 20px !important;
    background: #6D0D17 !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #FFF;
}

.logo {
    --ion-color-base: #6D0D17 !important;
    font-size: 50px !important;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: italic;
}

ion-col{
    margin-top: 10px;
    text-align: center;
}


.home {
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    --margin-top: 20px;
    --margin-bottom: 20px;
}
.inicial {
    font-size: 20px;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-start: 4px;
    --padding-end: 4px;
    text-transform: none !important;
    --margin-top: 18px;
    --margin-bottom: 18px;
}
h2 {
    font-size: 20px;
    text-align: center;
    color: #25312F !important;
    font-weight: bold;
}