<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label class="logo" position="floating" color="primary"><ion-icon class="icon" color="secondary" slot="end" name="leaf"></ion-icon>MQ</ion-label>
          </ion-col>
        </ion-row>
    <ion-row *ngIf="!FLAG">
      <ion-col><h2> Hola {{ nombre }} </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" class="home" >
          <ion-button  expand="block" color="dark" class="inicial" [routerLink]="['/precio/']" routerDirection="forward" shape="round">
              <ion-icon slot="start" name="cash" color="secondary"></ion-icon>
              Precio   
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
          <ion-button expand="block" color="dark" class="inicial" [routerLink]="['/news/']" routerDirection="forward" shape="round" >
              <ion-icon slot="start" name="megaphone" color="secondary"></ion-icon>
              Noticias   
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="10" offset="1"> 
            <ion-button expand="block" color="dark" class="inicial" [routerLink]="['/clima/']" routerDirection="forward" shape="round">
                <ion-icon slot="start" name="partly-sunny" color="secondary"></ion-icon>
                Clima   
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="10" offset="1">
              <ion-button expand="block" color="dark" class="inicial" [routerLink]="['/productos/']" routerDirection="forward" shape="round">
                  <ion-icon slot="start" name="leaf" color="secondary"></ion-icon>
                  Producto   
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10" offset="1">
                <ion-button expand="block" color="dark" class="inicial" [routerLink]="['/perfil/']" routerDirection="forward" shape="round">
                    <ion-icon slot="start" name="contact" color="secondary"></ion-icon>
                    Perfil   
                </ion-button>
            </ion-col>
          </ion-row>
    
  </ion-grid>
</ion-content>
