<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="todos">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Todos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favoritos">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>