<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="blank">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="logo" position="floating" color="primary">
          <ion-icon class="icon" color="secondary" slot="end" name="leaf"></ion-icon>Maipin <br>Qhatu
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="full" color="dark" class="final" shape="round" [routerLink]="['/register/']"
          routerDirection="forward">Registrarme!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>