<ion-header>
    <ion-toolbar color='dark'>
      <ion-buttons slot='start'>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title> Precios </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-card *ngIf="!PRODUCTO">
    <div class="vertical-crop">
      <ion-img class="imagen-boton" [src]='getImageUrl(data.productos[0].Imagen)'></ion-img>
    </div>
    <div class="myOverlay"> Variedades</div>
  </ion-card>
  <ion-list>
    <ion-item *ngIf="!PRODUCTO">
      <ion-label position="floating" color="tertiary">Producto</ion-label>
      <ion-select placeholder="Selecciona Producto" [(ngModel)]="producto" (ionChange)="onProductoChange()">
        <ion-select-option *ngFor="let p of data.productos" [value]='p'> {{ p.Nombre }} </ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item *ngIf="!VARIEDAD">
      <ion-label position="floating" color="tertiary">Variedad</ion-label>
      <ion-select placeholder="Selecciona Variedad" [(ngModel)]="variedad" (ionChange)="onVariedadChange()">
        <ion-select-option *ngFor="let v of producto.Variedades" [value]='v'> {{ v.Nombre }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button expand="full" color="light" class="final" shape="round" (click)="buscar()">Buscar!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf='FLAG'>
        <ion-item-divider color='medium'>
          <ion-label> &nbsp;&nbsp;&nbsp;&nbsp; {{ variedad.Nombre }} </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let map of getMapper()">
          <ion-label color="tertiary" class="title">
            {{ map.nombre }}
          </ion-label>
          <ion-note slot="end" class="tag">
            {{ map.prefijo }}
            {{ map.json === 'Fecha' ? (data_precios.precios[0][map.json] | date: 'longDate') : (data_precios.precios[0][map.json]) }}
          </ion-note>
        </ion-item>
        <ion-item color='primary' (click)="verDetalles(variedad.Id)">
          <ion-label>Ver más... </ion-label>
        </ion-item>


    </div>
  </ion-list>

</ion-content>