// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #895f65;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #F9D401;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #25312F;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #FAEAC9;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6D0D17;
  --ion-color-tertiary-tint: #6D0D17;

  /** success **/
  --ion-color-success: #82A577;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #25312F;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #94f49c;
  --ion-color-success-tint: #B4CA15;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #F49694;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ec4d37;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #6D0D17;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #EFF6FA;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #FAEAC9;
  --ion-color-medium-rgb: 250, 234, 201;
  --ion-color-medium-contrast: #25312F;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #A2505C;
  --ion-color-medium-tint: #ffd31a;

  /** light **/
  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255, 248, 240;
  --ion-color-light-contrast: #25312F;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #6D0D17;
  --ion-color-light-tint: #FFEFEF;

  --ion-font-family: 'Open Sans';
}

// Open Sans import

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/open_sanz/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/open_sanz/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: lighter;
  src: url('../assets/fonts/open_sanz/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/open_sanz/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: lighter;
  src: url('../assets/fonts/open_sanz/OpenSans-LightItalic.ttf');
}

// Raleway import

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bolder;
  src: url('../assets/fonts/raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: lighter;
  src: url('../assets/fonts/raleway/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/raleway/Raleway-Italic.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/fonts/raleway/Raleway-SemiBoldItalic.ttf');
}

// Montserrat

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/fonts/ttf/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: lighter;
  src: url('../assets/fonts/Montserrat/fonts/ttf/Montserrat-LightItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/fonts/ttf/Montserrat-Italic.ttf');
}