
 

<ion-content>
    <ion-grid *ngIf="FLAG">
        <ion-row>
            <ion-col size="8" offset="1" class="location">
                <h2> {{ precio?.Producto }},  {{ precio?.Variedad }} </h2>
                <h3 class="dark"> {{ precio?.Ciudad }} - {{ precio?.Fecha | date: 'longDate' }} </h3>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3.5" offset="1">
              <h3 class="light">  </h3>
          </ion-col>
          <ion-col size="7" class="info" align-self-center>
              <ion-label class="main"> 
                S/{{ precio.precio_promedio }}
                </ion-label>
                  <div class="temp">
                      <h1 class="light"> {{ precio.Mercado }} </h1>
                  Precio Max: S/{{ precio.precio_max }}
                  <br>
                  Precio Min: S/{{ precio.precio_min }}
                  <br>
                  </div>
              </ion-col>
        </ion-row>
          
      </ion-grid>
  <ion-list *ngIf="FLAG" lines="full">
      <div *ngFor="let precioArray of data.precios; let i = index" >
          <ion-item [color]="i===selected ? 'tertiary' : 'light'"
          (click)="changeSelected(i)" >
          <ion-label text-wrap>
            
                <h3 >
                    {{ precioArray?.Fecha | date: 'longDate' }}
                </h3>
                
             
                <ion-label> {{ precioArray.Mercado }} </ion-label>
          </ion-label>
             
          </ion-item>
      </div>
  </ion-list>
 
    
</ion-content>
<ion-footer>
  <ion-button color="danger" expand="full" (click)="closeModal()">
    Salir
  </ion-button>
</ion-footer>
