h3 {
    font-weight: bold;
}

ion-grid {
    background: #21B8C3 !important;
}

ion-list {
    padding: 0;
}
ion-img{
    max-width:100%;
}
.main {
    font-size: 32px;
    color: #FAEAC9;
}

.temp {
    text-align: end;
    font-size: 15px;
    color: #25312F;
    font-style: normal;
}
.desc {
    text-align: center;
}
.location {
    text-align: start;
    font-style: italic;
}

.info {
    text-align: end;
    font-style: italic;
}
h2 {
    font-weight: bold;
    color: #FAEAC9;
    font-size: 25px !important;
}
.dark {
    color: #25312F !important;
}
.light {
    color: #FAEAC9 !important;
    
    font-style: italic;
}


