// ion background
ion-content {
    --background: #FAEAC9;
}
ion-footer {
    --background: #FAEAC9 !important;
    background-color: #FAEAC9 !important;
}
// logo

.icon {
    font-size: 50px !important;
    background: #6D0D17 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #FFF;
}

.logo {
    --ion-color-base: #6D0D17 !important;
    font-size: 80px !important;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: italic;
}

ion-col{
    margin-top: 30px;
    text-align: center;
}


// form

ion-label {
    font-size: 20px !important;
    --ion-color-base: #A2505C !important;
}

ion-label,
 .select-text {
    margin-left: 10px;
    
}

.lista {
    background-color: transparent !important;
}

ion-item {
    --background: transparent !important;
    background-color: transparent;
    box-shadow: inherit !important;
    margin: 10px;
}


ion-input {
    --color: #25312F !important;
}


.blank {
    display: inline-block;
    height: 80px;
}

// boton
.final {
    font-weight: bold;
    margin-bottom: 15px;
}

