<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="logo" position="floating" color="primary"><ion-icon class="icon" color="secondary" slot="end" name="leaf"></ion-icon>MQ</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
        
   
  <ion-list class="lista">
        <form [formGroup]="registerForm" >

          <ion-item >
              <ion-label position="floating" color="tertiary"> Nombre de usuario:</ion-label>
              <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>

        <ion-item *ngIf="!DEP_FLAG">
            <ion-label position="floating" color="tertiary">Departamento</ion-label>
            <ion-select placeholder="Select One" formControlName="departamento" (ionChange)="onDepartamentoChange()">
                <ion-select-option *ngFor="let d of departamentos.regions" [value]='d.Id'> {{ d.Departamento }} </ion-select-option>
                
              </ion-select>
        </ion-item> 
        <ion-item *ngIf="!PROV_FLAG">
            <ion-label position="floating" color="tertiary">Provincia</ion-label>
            <ion-select placeholder="Select One" formControlName="provincia" (ionChange)="onProvinciaChange()">
                <ion-select-option *ngFor="let p of provincias.regions" [value]='p.Id'> {{ p.Nombre }} </ion-select-option>
                
              </ion-select>
        </ion-item> 
        <ion-item *ngIf="!CIUDAD_FLAG">
            <ion-label position="floating" color="tertiary">Ciudad</ion-label>
            <ion-select placeholder="Select One" formControlName="ciudad" >
                <ion-select-option *ngFor="let c of ciudades.regions" [value]='c'> {{ c.Nombre }} </ion-select-option>
                
              </ion-select>
        </ion-item> 
    </form>
    
    
</ion-list>
</ion-content>
<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
          <ion-button 
          expand="full" 
          color="dark" 
          class="final"
          shape="round" 
          (click)="register()">Registrarme!</ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-footer>
