<ion-header>
    <ion-toolbar color='dark'>
        <ion-buttons slot='start'>
            <ion-back-button defaultHref="/productos/lista/todos"></ion-back-button>
          </ion-buttons>
      <ion-title *ngIf='!FLAG'> {{ producto.Nombre }} </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid *ngIf='!FLAG'>
      <ion-row>
        <ion-col size="10" offset="1" >
            <ion-img [src]='getImageUrl(producto.Imagen)'>
              </ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-item-divider color='tertiary'>
                <ion-label>
                  Descripción:
                </ion-label>
              </ion-item-divider>
          <ion-text >
              {{ producto.Informacion }} 
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-item-divider color='tertiary'>
                <ion-label>
                  Variedades:
                </ion-label>
              </ion-item-divider>
            <div *ngFor='let vari of producto.Variedades'>
                <ion-item-divider color='medium'>
                    <ion-label>  {{ vari.Nombre }} </ion-label>
                </ion-item-divider>
                <ion-item text-wrap>
                  <ion-text>
                    {{ vari.Caracteristicas }}
                  </ion-text>
                </ion-item>
                <ion-item (click)='addFavoritos(vari, producto.Id)' *ngIf='!esFavorito(vari.Id)'>
                  <ion-icon name="heart-empty" color="dark" >
                  </ion-icon>
                  <ion-label class="add-var" color="tertiary">Agregar a favoritos</ion-label>
                </ion-item>
                <ion-item (click)='removeFavoritos(vari.Id)' *ngIf='esFavorito(vari.Id)'>
                    <ion-icon name="heart" color="dark" >
                    </ion-icon>
                    <ion-label class="add-var" color="tertiary">Eliminar de favoritos</ion-label>
                  </ion-item>
            </div>
            
        </ion-col>
      </ion-row>
    </ion-grid>
    
        
  
  
    
  
  </ion-content>
  