<ion-header>
    <ion-toolbar color='dark'>
        <ion-buttons slot='start'>
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-buttons>
      <ion-title>Todos los productos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list *ngIf='!FLAG'>
    <ion-card *ngFor='let producto of data.productos'>
      <a [routerLink]="['/productos/lista/todos/',producto.Id]">
        <div class="vertical-crop">
       <ion-img class="imagen-boton" [src]='getImageUrl(producto.Imagen)'></ion-img></div>
        <div class="myOverlay"> {{ producto.Nombre }}</div>
      </a>
    </ion-card>
  </ion-list>
</ion-content>
