<ion-content>


  <ion-grid class="title">
    <div *ngIf="FLAG">
      <ion-row>
        <ion-col size="8" offset="1" class="location">
          <h2> {{ ciudad?.Nombre }} </h2>
          <h3> {{ data?.fecha | date: 'longDate' }} </h3>
        </ion-col>
        
      </ion-row>
      <ion-row class="container-bot-margin">
        <ion-col size="3.5" offset-md="1"   offset-lg="1"  offset-xl="1" align-self-end>
          <ion-img [src]="getIconUrl(data.climas[0].Icono)"></ion-img>
          <div class="white-space"></div>
          
        </ion-col>
        <ion-col size="7" class="info" align-self-center>
          <ion-label class="main"> {{ getTemperaturaMain(data.climas[0].Temp_max, data.climas[0].Temp_min) }} ºC
          </ion-label>
          <div class="temp">
              <h1> {{ data.climas[0].Descripcion }} </h1>
          Max: {{ data.temp_max }}ºC
          <br>
          Min: {{ data.temp_min }}ºC
          <br>
          Humedad: {{ data.humedad }}%
          </div>
        
        </ion-col>
      
      </ion-row>

      <ion-row>
          <ion-col size="3"  >
            
              <ion-button [routerLink]="['/home/']" routerDirection="backward" >Volver al Menu<ion-icon name="home" slot="start"></ion-icon></ion-button>
          
      </ion-col>
      </ion-row>
    </div>
    
  </ion-grid>
  <ion-list *ngIf="FLAG" class="list" lines="full">
    <ion-item *ngFor="let clima of data?.climas" color="light">

      <div slot="start">

        <ion-note>
          {{ concat(data?.fecha, clima.Hora) | date: 'shortTime' }}
        </ion-note>
        <ion-thumbnail item-start>
          <ion-img [src]="getIconUrl(clima.Icono)"></ion-img>
        </ion-thumbnail>
      </div>
      <ion-label>
        {{ clima.Descripcion }}
      </ion-label>
      <p>
        Temperatura: {{ getTemperatura(clima.Temp_max, clima.Temp_min) |  number : '1.2-2' }} ºC
        <br>
        Humedad: {{ clima.Humedad }}%
      </p>

    </ion-item>
  </ion-list>



</ion-content>