ion-img{
    max-width:100%;
}
.main {
    font-size: 32px;
    color: #FAEAC9;
}

.temp {
    text-align: end;
    font-size: 14px;
    color: #FAEAC9;
}
.desc {
    text-align: center;
}
.location {
    text-align: start;
    font-style: italic;
}

.info {
    text-align: end;
    font-style: italic;
}
h3 {
    font-size: 18px !important;
    color: #FAEAC9;
}
h2 {
    font-weight: bold;
    color: #FAEAC9;
    font-size: 25px !important;
}
.title {
    background-image: url('/assets/weather/cloudy.png');
    background-size: 100%;
    height: var(--width);
}
.container-bot-margin {
    padding-bottom: 50px;
}
ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .cool{
      color: #FAEAC9;
  }
  .item-info {
      width: inherit;

  }
  p {
    font-size: 12px;
  }
  ion-list {
    margin: 0;
    padding: 0;
  }