<ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="buscar">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="precios-fav">
          <ion-icon name="heart"></ion-icon>
          <ion-label>Favoritos</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>