.item {
    text-align: end;
}
h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}
.title {
    text-align: start;
}

// ion background
ion-content {
    --background: #FAEAC9!important;
}
ion-footer {
    --background: #FAEAC9 !important;
    background-color: #FAEAC9 !important;
}
ion-list {
    background-color: transparent !important;
}
ion-item {
    --background: transparent !important;
}