<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list *ngIf="!FLAG">


    <ion-item lines="none" *ngFor="let map of getMapper()">
        <ion-label text-wrap>
         <ion-text color="dark" class="title">
            <h2>
                {{ map.nombre }}
              </h2>
         </ion-text>
         <ion-text color="tertiary" class="item">
            <h3>
                {{ map.json === "ciudad" ? usuario[map.json].Nombre : usuario[map.json] }}
              </h3>
         </ion-text>
         
      </ion-label>
    </ion-item>
    <ion-row>
        <ion-col size="10" offset="1">
          <ion-button expand="full" color="tertiary" class="final" shape="round" [routerLink]="['/productos/lista/favoritos']" 
          routerDirection="forward">Ver mis productos!
          </ion-button>
        </ion-col>
      </ion-row>
   
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-grid>
    
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="full" color="dark" class="final" shape="round" [routerLink]="['/editar/']" 
        routerDirection="forward">Editar!
        </ion-button>
      </ion-col>
      <ion-col size="10" offset="1">
          <ion-button expand="full" color="danger" class="final" shape="round" (click)="eliminarRegistro()">Eliminar Registro!
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>