<ion-header>
  <ion-toolbar color='dark'>
      <ion-buttons slot='start'>
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Noticias Maipin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='!bandera'>
  <ion-card *ngFor='let noticia of noticias.noticias'>
      <ion-card-header>
        
          <ion-card-subtitle>
            <ion-label color="dark"> {{ noticia.Fecha }}</ion-label> 
            <ion-img [src]='getImageUrl(noticia.Imagen)'>
            </ion-img>
            <ion-chip *ngFor='let hash of getHashtags(noticia.Cuerpo)' color="medium">
              <ion-label> {{ hash }}</ion-label>
            </ion-chip>
          </ion-card-subtitle>
          <ion-card-title  color="tertiary">
            {{ noticia.Titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>{{ noticia.Cuerpo }}</ion-text>
  
      </ion-card-content>
    </ion-card>
  </ion-list>

  

</ion-content>
